body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(238, 238, 238);
}

#logo{
    color: blueviolet;
    font-size: 20px;
    font-weight: 700;
    transition: .4s;
}

#logo:hover{
    letter-spacing: 2px;
    transition: .4s;
}

nav {
    background-color: white;
    height: 55px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div a {
    text-decoration: none;
}

nav div div {
    display: flex;
    gap: 20px;
}

nav div div a {
    color: rgb(87, 87, 87);
    font-size: 14px;
    font-weight: 500;
    height: 55px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    transition: .2s;
}

nav div div a:hover {
    border-bottom: 2px solid blueviolet;
    color: #000;
    transition: .2s;
}

header {
    background-color: white;
    margin: 20px 0;
    border-bottom: 1px solid rgb(235, 235, 235);
    border-top: 1px solid rgb(235, 235, 235);
    padding: 50px 0;
}

header h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 500;
}

header p {
    line-height: 22px;
}

header button {
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    background-color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

main section {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
}

main section h3 {
    margin: 0;
    font-weight: 600;
    margin-bottom: 15px;
}

main section p {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    text-align: justify;
}

footer p {
    margin: 0;
    font-size: 14px;
    color: rgb(100, 100, 100);
    font-weight: 500;
    margin: 20px 0;
    float: right;
    display: block;
}

.container {
    width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    .container {
        width: 768px;
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .container {
        width: 100%;
    }
}